<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap's latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <title>Voten</title>
</head>

<body ng-app="PollApp">
  <div class="container">
    <!-- Fixed navbar -->
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="/#/create">Create</a></li>
          <li role="presentation"><a href="#/create">About</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Voten - Online polls made easy</h3>
    </div>

    <!-- Main container -->
    <div class="container" role="main">

      <!-- Jumbotron message -->
      <div class="jumbotron">
        <h1>The easiest poll ever</h1>
        <p>With online poll you can create a poll in seconds, share the link with your friends, and see the result in real time.</p>
      </div>

      <!-- Our partial view -->
      <ng-view></ng-view>
    </div>

  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
  <!--
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  -->
  <script src="../static/js/app.js"></script>
  <script src="../static/js/services.js"></script>
  <script src="../static/js/controllers.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Bootstrap's latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
